<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Doctores</h1>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <div class="card">
            <div class="card-header">
              <!-- Table-->
              <h3 class="card-title">Lista</h3>

              <div class="card-tools">
                <div>
                  <button
                    mat-raised-button
                    color="accent"
                    type="button"
                    class="btn  btn-success"
                    [routerLink]="['/addDoctor']"
                    *ngIf="userIsAuthenticated"
                  >
                    <i class="fas fa-user-plus"></i>
                    Agregar
                  </button>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-stripped table-hover">
                <thead>
                  <tr>
                    <th scope="row">ID</th>
                    <th scope="row">Name</th>
                    <th scope="row">Last Name</th>
                    <th scope="row">Specialty</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let doctor of this.doctors"
                    [routerLink]="['/doctor', doctor._id]"
                  >
                    <td scope="col">{{ doctor._id | slice: -5 }}</td>
                    <td scope="col">
                      {{ doctor.name + " " + doctor.last_name }}
                    </td>
                    <td scope="col">{{ doctor.birthDate}}</td>
                    <td scope="col">{{ doctor.specialty}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </section>
</div>
