<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Visitas Paciente</h1>
          <h2 class="m-0 text-dark">ID: {{this.patientId}}</h2>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <div class="card">
            <div class="card-header">
              <!-- Table-->
              <h3 class="card-title">Lista</h3>

              <div class="card-tools">
                <div>
                  <button
                    type="button"
                    class="btn  btn-success"
                    [routerLink]="['/addVisit']"
                  >
                    <i class="fas fa-user-plus"></i>
                    Agregar
                  </button>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-stripped table-hover">
                <thead>
                  <tr>
                    <th scope="row">ID</th>
                    <th scope="row">Doctor Code</th>
                    <th scope="row">Doctor Full Name</th>
                    <th scope="row">Doctor Specialty</th>
                    <th scope="row">Patient Full Name</th>
                    <th scope="row">Patient Id Card</th>
                    <th scope="row">Patient Full Name</th>
                    <th scope="row">Plant ID</th>
                    <th scope="row">Plant</th>
                    <th scope="row">Fecha</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let visit of this.visits"
                    [routerLink]="['/visit', visit._id]"
                  >
                    <td scope="col">{{ visit._id | slice: -5 }}</td>
                    <td scope="col">{{ visit.doctor._id}}</td>
                    <td scope="col">
                      {{ visit.doctor.name}} {{visit.doctor.last_name}}
                    </td>
                    <td scope="col">{{ visit.doctor.specialty}}</td>
                    <td scope="col">
                      {{ visit.patient.name }} {{visit.patient.last_name}}
                    </td>
                    <td>{{visit.patient.idCard}}</td>
                    <td>{{visit.patient._id}}</td>
                    <td>{{visit.plant._id}}</td>
                    <td>{{visit.plant.name}}</td>
                    <td>{{visit.date}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </section>
</div>
