<mat-card>
  <div class="row">
    <div class="col-xs-12">
      <h3>Plant View</h3>
      <div>
        <button
          type="button"
          class="btn btn-primary dropdown-toggle"
          style="position:relative;"
          (click)="patchPlant()"
          *ngIf="!this.edit"
        >
          Manage
        </button>
        ||
        <button
          type="button"
          class="btn btn-danger dropdown-toggle"
          style="position:relative;"
          (click)="onRemovePlant()"
          *ngIf="!this.edit"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <form #postForm="ngForm" (submit)="onPatchPlant(postForm)">
      <fieldset [disabled]="!this.edit">
        <label for="exampleFormControlInput1">ID: {{this.plant._id}} </label>
        <div>
          <label for="exampleFormControlInput1">Name:</label>
          <input
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder=""
            value="{{this.plant.name}}"
            ngModel
            #name="ngModel"
            name="name"
          />
        </div>
        <div>
          <button type="submit" class="btn  btn-success">
            <i class="nav-icon fas fa-user-edit"></i>
            Save Changes
          </button>
          |
          <button type="button" class="btn  btn-danger" (click)="patchPlant()">
            <i class="nav-icon fas fa-window-close"></i>
            Cancel
          </button>
        </div>
      </fieldset>
      <div class="btn__box" *ngIf="this.edit"></div>
    </form>
  </div>
</mat-card>
