<h2>Crear Visita para Paciente</h2>
<h3>ID: {{this.patientId}}</h3>
<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <form (submit)="onAddVisit(postForm)" #postForm="ngForm">
      <div>
        <label>* Doctor</label>
        <select [(ngModel)]="selectedDoctor" name="selectedDoctor">
          // value is an object
          <option
            *ngFor="let doctor of doctors"
            (ngModelChange)="onChangeDoctor(doctor)"
            [ngValue]="doctor._id"
            >{{doctor.name}} {{doctor.last_name}} Especialidad:
            {{doctor.specialty}}</option
          >
        </select>
      </div>
      <!-- </div>
         - <div class="form-group"> -->
      <div>
        <label>* Plant</label>
        <select [(ngModel)]="selectedPlant" name="selectedPlant">
          // value is an object
          <option
            *ngFor="let plant of plants"
            (ngModelChange)="onChangePlant(plant)"
            [ngValue]="plant._id"
            >{{plant.name}}</option
          >
        </select>
      </div>
      <div class="md-form">
        <label for="form7">* Description</label>
        <textarea
          id="form7"
          name="description"
          ngModel
          #description="ngModel"
          class="md-textarea form-control"
          rows="3"
        ></textarea>
      </div>
      <!--Textare
      <label>Medicine</label>
      <input
        type="text"
        id="medicine"
        ngModel
        #medicine="ngModel"
        class="form-control"
        name="medicine"
      />
      <!-- </div>
         - <div class="form-group"> -->
      <div>
        <button class="btn btn-primary" type="submit">
          Create Visit
        </button>
        <button class="btn btn-danger" type="button" [routerLink]="['/visits']">
          Cancel
        </button>
        |
        <a href="#">Return to Home</a>
      </div>
    </form>
  </div>
</div>
