<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Patient
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12"></div>
  <h4>IdCard</h4>
</div>
<div class="row">
  <div class="col-xs-12"></div>
  <h4>Name</h4>
</div>
<div class="row">
  <div class="col-xs-12"></div>
  <h4>Last Name</h4>
</div>
<div class="row">
  <div class="col-xs-12"></div>
  <h4>Birth Date</h4>
</div>
<div class="row">
  <div class="col-xs-12"></div>
  <h4>Blood Type</h4>
</div>
<div class="row">
  <div class="col-xs-12"></div>
  <h4>Gender</h4>
</div>
<div class="row">
  <div class="col-xs-12"></div>
  <h4>Email</h4>
</div>
<div class="row">
  <div class="col-xs-12"></div>
  <h4>Address</h4>
</div>
