<!-- <div class="register-page" style="min-height: 512.391px;">
   -   <div class="register-box">
   -     <div class="register-logo">
   -       <img
   -         src="assets/dist/img/suplaivertical.png"
   -         alt="suplai-blanco2"
   -         height="60%"
   -         width="60%"
   -       />
   -     </div>
   -     [> /.register-logo <]
   -     <div class="card">
   -       <div class="card-body register-card-body">
   -         <p class="register-box-msg">Registrarse</p>
   -
   -         <form
   -           (ngSubmit)="onSubmit(registerForm)"
   -           #registerForm="ngForm"
   -           method="post"
   -         >
   -           <div class="input-group mb-3">
   -             <input
   -               type="name"
   -               class="form-control"
   -               placeholder="Name"
   -               name="name"
   -               ngModel
   -               required
   -               #name="ngModel"
   -             />
   -             <div class="input-group-append">
   -               <div class="input-group-text">
   -                 <span class="fas fa-envelope"></span>
   -               </div>
   -             </div>
   -           </div>
   -           <div class="input-group mb-3">
   -             <input
   -               type="last_name"
   -               class="form-control"
   -               name="last_name"
   -               placeholder="Last Name"
   -               ngModel
   -               required
   -               #last_name="ngModel"
   -             />
   -             <div class="input-group-append">
   -               <div class="input-group-text">
   -                 <span class="fas fa-lock"></span>
   -               </div>
   -             </div>
   -           </div>
   -           <div class="input-group mb-3">
   -             <input
   -               type="email"
   -               class="form-control"
   -               placeholder="Email"
   -               name="email"
   -               ngModel
   -               required
   -               #email="ngModel"
   -             />
   -             <div class="input-group-append">
   -               <div class="input-group-text">
   -                 <span class="fas fa-envelope"></span>
   -               </div>
   -             </div>
   -           </div>
   -           <div class="input-group mb-3">
   -             <input
   -               type="password"
   -               class="form-control"
   -               name="password"
   -               placeholder="Password"
   -               ngModel
   -               required
   -               #password="ngModel"
   -             />
   -             <div class="input-group-append">
   -               <div class="input-group-text">
   -                 <span class="fas fa-lock"></span>
   -               </div>
   -             </div>
   -           </div>
   -           <div class="input-group mb-3">
   -             <input
   -               type="password"
   -               class="form-control"
   -               name="password2"
   -               placeholder="Re-Enter Password"
   -               ngModel
   -               required
   -               #password2="ngModel"
   -             />
   -             <div class="input-group-append">
   -               <div class="input-group-text">
   -                 <span class="fas fa-lock"></span>
   -               </div>
   -             </div>
   -           </div>
   -           <div>
   -             [> /.col <]
   -             <div class="col">
   -               <button type="submit" class="btn btn-primary btn-block">
   -                 Registrar
   -               </button>
   -             </div>
   -             [> /.col <]
   -           </div>
   -         </form>
   -         <br />
   -         <p class="mb-1">
   -           <a href="#">Regresar al Inicio</a>
   -         </p>
   -       </div>
   -       [> /.register-card-body <]
   -     </div>
   -   </div>
   -   [> /.register-box <]
   - </div> -->
