<mat-card>
  <h2>Create History for Patient</h2>
  <h3>ID: {{this.patientId}}</h3>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <form (submit)="onAddHistory(postForm)" #postForm="ngForm">
        <div>
          <mat-form-field>
            <label>* Date In</label>
            <input
              matInput
              [matDatepicker]="pickerIn"
              name="dateIn"
              class="form-control"
              required
              ngModel
              #dateIn="ngModel"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerIn"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerIn></mat-datepicker>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <label>* Date Out</label>
            <input
              matInput
              [matDatepicker]="picker"
              name="dateOut"
              ngModel
              #dateOut="ngModel"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <div class="md-form">
              <label for="form7">* BedId</label>
              <input
                type="text"
                matInput
                id="bedId"
                name="bedId"
                ngModel
                #bedId="ngModel"
                class="form-control"
                value=""
              />
            </div>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <label for="form7">* Room</label>
            <input
              type="text"
              matInput
              id="room"
              name="room"
              ngModel
              #room="ngModel"
              class="form-control"
            />
          </mat-form-field>
        </div>
        <div class="md-form"></div>
        <div>
          <button class="btn btn-primary" type="submit">
            Create History
          </button>
          <button
            class="btn btn-danger"
            type="button"
            [routerLink]="['/histories']"
          >
            Cancel
          </button>
          |
          <a href="#">Return to Home</a>
        </div>
      </form>
    </div>
  </div>
</mat-card>
