<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Medicinas</h1>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <div class="card">
            <div class="card-header">
              <!-- Table-->
              <h3 class="card-title">Disponibles</h3>

              <div class="card-tools">
                <div>
                  <button
                    type="button"
                    class="btn  btn-success"
                    [routerLink]="['/addDoctor']"
                  >
                    <i class="fas fa-user-plus"></i>
                    Agregar
                  </button>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-stripped table-hover">
                <thead>
                  <tr>
                    <th scope="row">ID</th>
                    <th scope="row">Nombre</th>
                    <th scope="row">Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let medicine of this.medicines"
                    [routerLink]="['/medicine', medicine._id]"
                  >
                    <td scope="col">{{ medicine._id | slice: -5 }}</td>
                    <td scope="col">
                      {{ medicine.name }}
                    </td>
                    <td scope="col">{{ medicine.description}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </section>
</div>
