form,
mat-form-field {
  width: 100%;
}
mat-spinner {
  margin: auto;
}
/* form {
 *   background-color: dodgerblue;
 * } */
label {
  color: white;
}
button {
  background-color: dodgerblue;
}
a {
  color: black;
}
