<div class="row">
  <div class="col-xs-12">
    <h3>Vista Doctor</h3>
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
        style="position:relative;"
        (click)="patchDoctor()"
        *ngIf="!this.edit"
      >
        Manage
      </button>
    </div>
  </div>
</div>
<div class="card-body">
  <form #postForm="ngForm" (submit)="onPatchDoctor(postForm)">
    <fieldset [disabled]="!this.edit">
      <label for="exampleFormControlInput1"
        >Unique Medical Code: {{this.doctor._id}}</label
      >
      <div class="form-group">
        <label for="exampleFormControlInput1">ID Card: </label>
        <input
          type="text"
          class="form-control"
          name="idCard"
          placeholder=""
          value="{{this.doctor.idCard}}"
          ngModel
          #idCard="ngModel"
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Name:</label>
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder=""
          value="{{this.doctor.name}}"
          ngModel
          #name="ngModel"
          name="name"
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Last Name:</label>
        <input
          name="last_name"
          type="email"
          class="form-control"
          value="{{this.doctor.last_name}}"
          id="exampleFormControlInput1"
          placeholder=""
          ngModel
          #last_name="ngModel"
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Birth Date:</label>
        <input
          name="birthDate"
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          value="{{this.doctor.birthDate}}"
          placeholder=""
          ngModel
          #birthDate="ngModel"
          name="birthDate"
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Gender:</label>
        <select
          name="gender"
          class="form-control"
          id="exampleFormControlSelect1"
          ngModel
          #gender="ngModel"
          value="{{this.doctor.gender}}"
        >
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Email:</label>
        <input
          id="exampleFormControlSelect1"
          ngModel
          #email="ngModel"
          value="{{this.doctor.email}}"
          name="email"
        />
      </div>
      <div>
        <button type="submit" class="btn  btn-success">
          <i class="nav-icon fas fa-user-edit"></i>
          Guardar Cambios
        </button>
        |
        <button type="button" class="btn  btn-danger" (click)="patchDoctor()">
          <i class="nav-icon fas fa-window-close"></i>
          Cancelar
        </button>
      </div>
    </fieldset>
    <div class="btn__box" *ngIf="this.edit"></div>
  </form>
</div>
