<mat-card>
  <h2>Create Room for Plant</h2>
  <h3>ID: {{this.plantId}}</h3>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <form (submit)="onAddRoom(postForm)" #postForm="ngForm">
        <div>
          <label>* Name</label>
          <mat-form-field>
            <input
              matInput
              id="name"
              ngModel
              #name="ngModel"
              name="name"
              type="text"
              class="form-control"
              required
            />
          </mat-form-field>
        </div>
        <div>
          <button class="btn btn-primary" type="submit">
            Create Room
          </button>
          <button
            class="btn btn-danger"
            type="button"
            [routerLink]="['/rooms']"
          >
            Cancel
          </button>
          |
          <a [routerLink]="['/']">Return to Home</a>
        </div>
      </form>
    </div>
  </div>
</mat-card>
