<!-- <nav class="navbar navbar-default">
   -   <div class="container-fluid">
   -     <div class="navbar-header">
   -       <a href="#" class="navbar-brand">Patients</a>
   -       <a href="#" class="navbar-brand">Personnel</a>
   -       <a href="#" class="navbar-brand">Supplies</a>
   -     </div>
   -     <div class="collapse navbar-collapse">
   -       <ul class="nav navbar-nav">
   -         <li><a href="#">Patients</a></li>
   -         <li><a href="#">Histories</a></li>
   -       </ul>
   -       <ul class="nav navbar-nav navbar-right">
   -         <li class="dropdown">
   -           <ul class="dropdown-menu">
   -             <li><a href="#">Save Data</a></li>
   -             <li><a href="#">Fetch Data</a></li>
   -           </ul>
   -         </li>
   -       </ul>
   -     </div>
   -   </div>
   - </nav> -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/patients" class="navbar-brand">Patients</a>
      <a routerLink="/doctors" class="navbar-brand">Doctors</a>
      <a routerLink="" class="navbar-brand">Home</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">Login</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" role="button"
            >Manage <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li><a href="#">Test</a></li>
            <li><a href="#">Test2</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
